<head>
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>

<button id="add_bar" onClick="progress_bar()" style="margin-bottom: 10px;">Add Progress</button>
<br>

<script src={{ url_for('static', filename='nanobar.min.js') }}></script>
<script>

var nanobars = [];
add_bar(); // add initial bar

function add_bar() {
	// Create div to put new bar in
	var div = document.createElement("div");
	div.setAttribute("id", "bar-" + nanobars.length);
	document.body.appendChild(div);

	// Create paragraph for progress text
	var p = document.createElement("p");
	p.setAttribute("id", "p-" + nanobars.length);
	div.appendChild(p);

	// Create new bar, push to array
	var bar = new Nanobar({
		target: div,
		class: "bar",
		id: "nanobar-" + nanobars.length
	});
	nanobars.push(bar);
}

function progress_bar() {
	// Go through bars, update progress
	var i;
	for (i = 0; i < nanobars.length; i++) {
		var progress = Number(document.getElementById("p-" + i).textContent.replace("%", ""));
		
		progress = progress + 20;
		nanobars[i].go(progress);
		
		if (progress === 100) {
			document.getElementById("p-" + i).innerHTML = "Done!";
			document.getElementById("nanobar-" + i).firstChild.style.background = "lime";
			add_bar();
		} else if (progress < 100) {
			document.getElementById("p-" + i).innerHTML = progress + "%";
		}
	}
}
</script>
	
</body>
</html>
