<head>
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<script src={{ url_for('static', filename='nanobar.min.js') }}></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</head>
<body>

<button id="add_bar" onClick="create_bar()" style="margin-bottom: 10px;">Create Bar</button><br>

<script>

    var socket = io();
    socket.on('connect', function() {
        console.log("Websocket connected.");
		setTimeout(request_bar_updates, 1000);
    });

	function create_bar() {
		socket.emit('create_bar');
	}

	function request_bar_updates() {
		socket.emit('request_bar_updates');
	}

	var nanobars = {};
	socket.on('bar_updates', function(bars) {
        console.log(bars);

		for (const [bar, values] of Object.entries(bars)) {

			// Create bar if not exists
			if (document.getElementById("b-" + bar) == null) {

				// Create div to put new bar in
				var div = document.createElement("div");
				div.setAttribute("id", "b-" + bar);
				document.body.appendChild(div);

				// Create paragraph for progress text
				var p = document.createElement("p");
				p.setAttribute("id", "p-" + bar);
				div.appendChild(p);

				// Create new bar, push to array
				var nanobar = new Nanobar({
					target: div,
					class: "bar",
					id: "nanobar-" + bar
				});
				nanobars[bar] = nanobar;
			}
			nanobars[bar].go(values['progress']);
			document.getElementById("p-" + bar).innerHTML = values['message'];
			if (values['progress'] >= 99) {
				document.getElementById("nanobar-" + bar).firstChild.style.background = "lime";
			}
			
		}
		// Trigger new bar update request
		setTimeout(request_bar_updates, 1000);
	});
	
</script>
	
</body>
</html>
